.ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.6rem;
}

.ProductList-end {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  word-spacing: 3px;
  margin-top: 6rem;
  color: saddlebrown;
}

@media screen and (max-width: 1050px){
  .ProductList{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 756px){
  .ProductList{
    grid-template-columns: repeat(1, 1fr);
  }

  
}